<div class="modal fade" id="modal-pg-venda" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Forma de Pagamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <a class="btn btn-success" href="#" data-bs-toggle="modal" data-bs-target="#modal-pgdinheiro-venda"><i class="bi bi-cash-coin"></i> Dinheiro</a>
                <a class="btn btn-secondary" href="#" data-bs-toggle="modal" data-bs-target="#modal-pgcrediario-venda"><i class="bi bi-journal-check"></i> Crediário</a>
                <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#modal-pgcartao-venda"><i class="bi bi-credit-card-fill"></i> Cartão/PIX</a>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>