<div class="modal fade" id="modal-delete-inventario{{ obj.pk }}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aviso!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-delete-inventario{{ obj.pk }}" action="{% url 'delete_inventario' %}" method="POST" onsubmit="enviarFormulario('form-delete-inventario{{ obj.pk }}'); return false;">
                {% csrf_token %}
                <div class="modal-body">

                    Você está prestes a remover o produto <strong>{{ obj.fk_tbprod.desc }}</strong> da lista!

                    <input type="hidden" name="id_inventario" id="id_inventario" value="{{ obj.pk }}">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>