<div class="modal fade" id="modal-relatorio" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Gerar Relatório de Contas a Receber</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-relatorio" action="{% url 'relatorio_entrada' %}" method="POST" onsubmit="enviarFormularioPDF('form-relatorio'); return false;">
                {% csrf_token %}
                <div class="modal-body">

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Emissão</span>
                            </div>
                            <div class="input-group-prepend">
                                <span class="input-group-text">De:</span>
                            </div>
                            <input type="date" class="form-control" name="dado_dteminicio">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Até:</span>
                            </div>
                            <input type="date" class="form-control" name="dado_dtemfim">
                        </div>
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Vencimento</span>
                            </div>
                            <div class="input-group-prepend">
                                <span class="input-group-text">De:</span>
                            </div>
                            <input type="date" class="form-control" name="dado_dtvencinicio">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Até:</span>
                            </div>
                            <input type="date" class="form-control" name="dado_dtvencfim">
                        </div>
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Cód Cliente</span>
                            </div>
                            <input type="number" name="id_cliente" id="id_cliente_rel" min="0" class="form-control cod" value="{{ request.GET.search_cli }}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Descrição</span>
                            </div>
                            <input type="text" id="dado_cliente_desc_rel" class="form-control" value="{{ cliente.dsc }}">
                        </div>
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Status</span>
                            </div>
                            <select name="dado_status" class="form-control">
                                <option value=""></option>
                                {% for sts in status %}
                                {% if sts.0 != '4' %}
                                {% if sts.0 == request.GET.search_status %}
                                <option value="{{ sts.0 }}" selected>{{ sts.1 }}</option>
                                {% else %}
                                <option value="{{ sts.0 }}">{{ sts.1 }}</option>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>