<div class="modal fade" id="modal-entrada-compra{{ obj.pk }}" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Realizar Entrada</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-entrada-compra{{ obj.pk }}" action="{% url 'entrada_compra' %}" method="POST" onsubmit="enviarFormulario('form-entrada-compra{{ obj.pk }}'); return false;">
                {% csrf_token %}
                <div class="modal-body">

                    <div class="form-group">
                        {% for ent in entradas %}
                        {% if ent.fk_tbcomp.pk == obj.pk and ent.qtdpen > 0 %}
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Produto</span>
                            </div>
                            <input type="text" class="form-control" readonly value="{{ ent.fk_tbprod.dsc }}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Qtd Pendente</span>
                            </div>
                            <input type="text" class="form-control" readonly value="{{ ent.qtdpen }}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Qtd Recebido</span>
                            </div>
                            <input type="number" name="dado_{{ ent.fk_tbprod.pk }}" min="0" max="{{ ent.qtdpen }}" class="form-control">
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <input type="hidden" name="id_compra" value="{{ obj.pk }}">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>