<div class="modal fade" id="modal-estorno-compra{{ obj.pk }}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aviso!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-estorno-compra{{ obj.pk }}" action="{% url 'estorno_compra' %}" method="POST" onsubmit="enviarFormulario('form-estorno-compra{{ obj.pk }}'); return false;">
                {% csrf_token %}
                <div class="modal-body">

                    Tem certeza que deseja estornar o pagamento?
                    
                    <input type="hidden" name="id_compra" id="id_compra" value="{{ obj.pk }}">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>