<div class="modal fade" id="modal-new-etiquetas{{ obj.pk }}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aviso!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-new-etiquetas{{ obj.pk }}" action="{% url 'new_etiquetas' %}" method="POST" onsubmit="enviarFormulario('form-new-etiquetas{{ obj.pk }}'); return false;">
                {% csrf_token %}
                <div class="modal-body">

                    Você será redirecionado para a tela de etiquetas!
                    
                    <input type="hidden" name="id_ordem" id="id_ordem" value="{{ obj.pk }}">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>