{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Novo Lote</title>
{% endblock %}

{% block content %}
{% if fk == 0 or ordem.0.sts == '0' %}
<section>
    <div class="container-flex">
        <div class="card mb-3">
            <div class="card-body col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-primary mt-4" href="{% url 'sc_list_lote' %}"><i class="bi bi-arrow-left-square"></i> Voltar</a>
                        <div class="pt-1 pb-4 title-container pagetitle">
                            <h5 class="text-center title-text mt-4">Novo Lote de Produção</h5>
                        </div>

                        <form class="row g-3 needs-validation" action="{% url 'add_item_lote' fk %}" method="POST" id="formulario" onsubmit="enviarFormulario('formulario'); return false;">
        
                            {% csrf_token %}
            
                            <div class="form-group">
                                <hr>
                                <div class="input-group mt-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Cód.</span>
                                    </div>
                                    <input type="number" class="form-control cod" id="id_produto" name="id_produto" min="0" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Desc.</span>
                                    </div>
                                    <input type="text" class="form-control" id="dado_produto_desc" name="dado_produto_desc" required>
                                </div>
                                <div class="input-group mt-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Quantidade</span>
                                    </div>
                                    <input type="number" class="form-control" id="dado_qtd" name="dado_qtd" min="0" required>
                                </div>
                            </div>

                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button class="btn btn-primary w-100" type="submit">Insrir Produto</button>
                            </div>
                            <div class="col-md-4"></div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body mt-3">
                    <div class="total-container justify-content-end">
                        <div>
                            <a class="btn btn-danger-insert" href="#" data-bs-toggle="modal" data-bs-target="#modal-clear-lote">Limpar</a>
                            {% if object_list %}
                            <a class="btn btn-success-insert" href="#" data-bs-toggle="modal" data-bs-target="#modal-confirm-lote">Finalizar</a>
                            {% else %}
                            <a class="btn btn-success-insert" href="#">Finalizar</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="table-responsive">            
                        <table class="table table-hover" id="tabela">
                            <thead>
                                <tr>
                                    <th scope="col">Cód Produto</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Quantidade</th>
                                    <th scope="col">Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in object_list %}
                                <tr>
                                    <td>{{ obj.fk_tbprod.pk }}</td>
                                    <td>{{ obj.fk_tbprod.dsc }}</td>
                                    <td>{{ obj.qtd }}</td>
                                    <td>
                                        <div class="filter">
                                            <a class="icon" href="#" data-bs-toggle="dropdown">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-left dropdown-menu">
                                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal-qtd-lote{{ obj.pk }}">
                                                    <i class="bi bi-arrow-left-right"></i> Alterar Quantidade</a>
                                                </a>
                                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-lote{{ obj.pk }}">
                                                    <i class="bi bi-trash"></i> Remover Produto</a>
                                                </a>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                                {% include 'modal/md_delete_lote.html' %}
                                {% include 'modal/md_qtd_lote.html' %}

                                {% endfor %}
                            </tbody>
                        </table>

                        {% include 'modal/md_clear_lote.html' %}
                        {% include 'modal/md_confirm_lote.html' %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<div class="row">
    <div class="col-md-1">
        <div class="pagetitle">
            <a class="btn btn-primary" href="{% url 'sc_list_lote' %}"><i class="bi bi-arrow-left-square"></i> Voltar</a>
        </div>
    </div>
    <div class="col-md-2">
        <div class="pagetitle">
            <h1>Lote Fechado</h1>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/autocomplete-produto.js' %}"></script>
<script src="{% static 'js/autocomplete-fornecedor.js' %}"></script>
{% endblock %}