<div class="modal fade" id="modal-filter-list-inventario" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filtros</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="get">
                <div class="modal-body">

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Código Usuário</span>
                            </div>
                            <input type="number" name="search_user" id="id_usuario" class="form-control cod" min="0" value="{{ request.GET.search_user }}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Descrição</span>
                            </div>
                            <input type="text" id="dado_usuario_desc" class="form-control" value="{{ usuario }}">
                        </div>
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Data:</span>
                            </div>
                            <div class="input-group-prepend">
                                <span class="input-group-text">Início</span>
                            </div>
                            <input type="date" name="search_dtinicio" class="form-control" value="{{ request.GET.search_dtinicio }}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Fim</span>
                            </div>
                            <input type="date" name="search_dtfim" class="form-control" value="{{ request.GET.search_dtfim }}">
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </div>
            </form>
        </div>
    </div>
</div>