<div class="modal fade" id="modal-view-agenda-forn{{ obj.pk }}" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Data do Contato</span>
                        </div>
                        <input type="text" class="form-control" readonly value="{{ obj.dthr|date:'d/m/Y H:i' }}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Status</span>
                        </div>
                        <input type="text" class="form-control" readonly value="{{ obj.get_stsagendaforn_display}}">
                    </div>
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Tipo de Contato</span>
                        </div>
                        <input type="text" class="form-control" readonly value="{{ obj.get_tipocontatoforn_display }}">
                    </div>
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Código</span>
                        </div>
                        <input type="number" class="form-control cod" readonly value="{{ obj.fk_user.pk }}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Usuário</span>
                        </div>
                        <input type="text" class="form-control" readonly value="{{ obj.fk_user.username }}">
                    </div>
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Código</span>
                        </div>
                        <input type="number" class="form-control cod" readonly value="{{ obj.fk_tbforn.pk }}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Cliente</span>
                        </div>
                        <input type="text" class="form-control" readonly value="{{ obj.fk_tbforn.razao }}">
                    </div>
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Responsável</span>
                        </div>
                        <input type="text" class="form-control" readonly value="{{ obj.resp }}">
                    </div>
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Assunto</span>
                        </div>
                        <input type="text" class="form-control" readonly value="{{ obj.assunto }}">
                    </div>
                    <label class="mt-2">Descrição:</label>
                    <div class="input-group mt-2">
                        <textarea cols="30" rows="10" class="form-control" readonly>{{ obj.dsc }}</textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>