{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Tipos de Pagamento</title>
{% endblock %}

{% block content %}
<div class="pagetitle">
    <h1>Tipos de Pagamento</h1>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body mt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#modal-new-tipopg">Novo Tipo de Pagamento</a>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="justify-content-end filtro">
                                <a class="btn btn-primary filtro-btn" href="#" data-bs-toggle="modal" data-bs-target="#modal-filter-list-tipopg">Filtros</a>
                                {% if filtrado %}
                                <a href="{% url 'sc_list_tipopg' %}" class="btn btn-danger">Limpar Filtros</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <a href="?ordering={% if request.GET.ordering == 'dsc' %}-dsc{% else %}dsc{% endif %}&search_desc={{ request.GET.search_desc }}">
                                            Descrição
                                            {% if request.GET.ordering == "dsc" %}
                                                &#9650;
                                            {% elif request.GET.ordering == "-dsc" %}
                                                &#9660;
                                            {% endif %}
                                        </a>
                                    </th>
                                    <th scope="col">
                                        <a href="?ordering={% if request.GET.ordering == 'fk_ctbbank' %}-fk_ctbbank{% else %}fk_ctbbank{% endif %}&search_desc={{ request.GET.search_desc }}">
                                            Conta Bancária
                                            {% if request.GET.ordering == "fk_ctbbank" %}
                                                &#9650;
                                            {% elif request.GET.ordering == "-fk_ctbbank" %}
                                                &#9660;
                                            {% endif %}
                                        </a>
                                    </th>
                                    <th scope="col">Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in object_list %}
                                <tr>
                                    <td>{{ obj.dsc }}</td>
                                    <td>{{ obj.fk_ctbbank }}</td>
                                    <td>
                                        <div class="filter">
                                            <a class="icon" href="#" data-bs-toggle="dropdown">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-left dropdown-menu">
                                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal-edit-tipopg{{ obj.pk }}">
                                                    <i class="bi bi-pencil-fill"></i> Editar</a>
                                                </a>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                                {% include 'sc_list_tipopg/modal/md_edit_tipopg.html' %}

                                {% empty %}

                                <tr>
                                    <td colspan="2" class="text-center">Nenhum registro a ser mostrado.</td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>

                        {% include 'sc_list_tipopg/pagination/pg_list_tipopg.html' %}
                                              
                    </div>

                    {% include 'sc_list_tipopg/modal/md_new_tipopg.html' %}
                    {% include 'sc_list_tipopg/modal/md_filter_list_tipopg.html' %}
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
