<div class="modal fade" id="modal-edit-forn{{ obj.pk }}" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Fornecedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-edit-forn{{ obj.pk }}" action="{% url 'edit_forn' %}" method="POST" onsubmit="enviarFormulario('form-edit-forn{{ obj.pk }}'); return false;">
                {% csrf_token %}
                <div class="modal-body">

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Razão</span>
                            </div>
                            <input type="text" class="textinput textInput form-control" id="dado_razao" name="dado_razao" value="{{ obj.razao }}" required>
                            <div class="input-group-prepend">
                                <span class="input-group-text">CNPJ/CPF</span>
                            </div>
                            <input type="text" class="textinput textInput form-control" id="dado_doc" name="dado_doc" value="{{ obj.doc }}" required>
                        </div>
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Telefone</span>
                            </div>
                            <input type="text" class="textinput textInput form-control" id="dado_tel" name="dado_tel" value="{{ obj.tel }}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="text" class="textinput textInput form-control" id="dado_email" name="dado_email" value="{{ obj.email }}">
                        </div>
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Estado</span>
                            </div>
                            <select name="dado_estado" id="dado_estado" class="form-control">
                                {% for estado in estados %}
                                {% if estado.0 == obj.estado %}
                                <option value="{{ estado.0 }}" selected>{{ estado.1 }}</option>
                                {% else %}
                                <option value="{{ estado.0 }}">{{ estado.1 }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <div class="input-group-prepend">
                                <span class="input-group-text">Cidade</span>
                            </div>
                            <input type="text" class="textinput textInput form-control" id="dado_cidade" name="dado_cidade" value="{{ obj.cidade }}">
                        </div>
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Bairro</span>
                            </div>
                            <input type="text" class="textinput textInput form-control" id="dado_bairro" name="dado_bairro" value="{{ obj.bairro }}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Número</span>
                            </div>
                            <input type="text" class="textinput textInput form-control" id="dado_num" name="dado_num" value="{{ obj.num }}">
                        </div>
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Rua</span>
                            </div>
                            <input type="text" class="textinput textInput form-control" id="dado_rua" name="dado_rua" value="{{ obj.rua }}">
                        </div>
                    </div>

                    <input type="hidden" id="id_forn" name="id_forn" value="{{ obj.pk }}">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>